<form action="/Produto/Adiciona">
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("produto.InformaticaComPrecoInvalido")
    <label>Nome: <input name="produto.Nome" value="@ViewBag.Produto.Nome"/></label> <br />
    @Html.ValidationMessage("produto.Nome")
    <label>Preço: <input name="produto.Preco" value="@ViewBag.Produto.Preco"/></label><br />
    <label>Quantidade: <input name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" /></label><br />
    <label>Descrição: <input name="produto.Descricao" value="@ViewBag.Produto.Descricao"/></label><br />
    <label>
        Categoria: 
            <select name="produto.Categoria.ID">
                @foreach (var categoria in Model)
                {
                    if (categoria.ID.Equals(ViewBag.Produto.Categoria.ID))
                    {
                        <option value="@categoria.ID" selected="selected">@categoria.Nome</option>
                    }
                    else
                    {
                        <option value="@categoria.ID" >@categoria.Nome</option>
                    }
                }
            </select>
    </label><br />
    <input type="submit" />
</form>
<br />
@Html.RouteLink("Voltar", "ListaProdutos")